.vvb-input-1 {
  position: relative;
  overflow-x: auto;
  flex: 1 1 auto;
  font-family: 'Roboto Mono', monospace;
}

.vvb-input-1 input {

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-style: solid;
  border-width: 1px;
  border-radius: 0.2em;

  min-width: 5em;
}


.vvb-input-1.readonly input {
  pointer-events: none;
  background: none;


}
