
.vvb_select {
  text-align: center;
  display: inline-block;
  box-sizing: content-box;
  /* padding-left: 0.25em;
  padding-right: 0.25em; */

  
  
  /* @apply dark:bg-zinc-600 dark:text-slate-300; */
}

.vvb_select input {
  background: none;
  /* padding-left: 0.25em;
  padding-right: 0.25em; */
  width: 3em;
  box-sizing: content-box;
  
  border-style: solid;
  border-width: 1px;
  border-radius: 0.2em;

  
  @apply border-black dark:border-white;
}


