.vvb-select {
  width: 3em;
  text-align: center;
  position: relative;
  flex: 0 0 auto;
  font-family: 'Roboto Mono', monospace;
}

.vvb-select input {
  background: none;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.2em;

  @apply bg-gray-100 dark:bg-neutral-800 dark:text-slate-200 border-black dark:border-white;
}

.vvb-select__list {
  position: absolute;
  left: -0.25em;
  top: 1.75em;
  width: 3.5em;

  max-height: 75vh;
  border: solid 1px;
  border-radius: 0.2em;

  overflow-y: auto;
  cursor: pointer;
  z-index: 101;

  @apply bg-gray-100 dark:bg-neutral-800 dark:text-slate-200;
}

.vvb-select__list li {
  padding: 0.25em 0;
}

.vvb-select__list li:hover {
  @apply bg-slate-200 dark:bg-slate-600 dark:text-slate-300;
}

.vvb-select__list li:active {
  @apply bg-slate-200 dark:bg-slate-600 dark:text-slate-300;
}
