.NavBar {
  display: flex;
}

.NavBar a {
  padding: 0.7em;
  cursor: pointer;
  
  @apply bg-slate-400 text-gray-700 dark:bg-slate-700 dark:text-slate-400 font-medium;
}

.NavBar .activeNavLink {
  @apply bg-slate-300 text-slate-900  dark:bg-slate-600  dark:text-slate-200;
}
