.NavBar {
  display: flex;
  /* margin: 1rem; */
  /* border-radius: 0.5em; */

  /* @apply bg-slate-500 dark:bg-slate-800 dark:text-slate-300; */
}

.NavBar a {
  padding: 0.7em;
  /* margin: 0.25rem; */
  cursor: pointer;
  /* border-radius: 0.5em; */
  /* border: 1px solid gray; */
  /* box-shadow: 0 0 2px gray; */

  @apply bg-slate-400 text-gray-700 dark:bg-slate-700 dark:text-slate-400 font-medium;
}

.NavBar .activeNavLink {
  @apply bg-slate-300 text-slate-900  dark:bg-slate-600  dark:text-slate-200;
}
