.vvb-input-1 {
  position: relative;
  /* max-width: 7em; */
  overflow-x: auto;
  flex: 1 1 auto;
  
  /* border-style: solid;
  border-width: 1px;
  border-radius: 0.2em; */
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */

  /* @apply bg-gray-100 dark:bg-neutral-800 dark:text-slate-200 border-black dark:border-white; */
}

.vvb-input-1 input {
  /* background: none; */
  /* background-clip: padding-box; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-style: solid;
  border-width: 1px;
  border-radius: 0.2em;

  min-width: 5em;

  @apply bg-gray-100 dark:bg-neutral-800 dark:text-slate-200 border-black dark:border-white;

}

/* .vvb_input_1 input:focus {
  border-color: red;
} */
/* 
.vvb-input-1.readonly {
  
} */

.vvb-input-1.readonly input {
  pointer-events: none;
  background: none;

  /* @apply bg-gray-200 dark:bg-neutral-700 dark:text-slate-200 border-gray-800 dark:border-slate-300; */

}
